#root {
  max-width: 1440px;
  padding: 2rem;
  margin: auto;
}

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  
}

body {
  background-color: white;
  color: #333;
  min-width: 375px;
}

hr {
  width: 95%;
  border-color: gray;
  opacity: 0.3;
  height: 0.5px;
  margin-top: 2rem;
}

.page-body {
  display: grid;
  max-width: 1100px;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 4rem;
  margin-inline: auto;
  
}

body, html {
  height: 100%;
  padding: 0;
}

.attribution {
  margin-top: 10rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
}

@media (max-width: 800px){
  #root {
    max-width: 375px;
    padding: 0 ;
    margin: 0 auto;

  }
  
  .page-body {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    min-width: 375px;
    height: 100%;
  }

  hr {
    visibility: hidden;
    position: absolute;
  }

  .attribution {
    background-color: #fff;
    border-radius: 10px;
    width: 70vw;
    padding: 0.5rem;
  }

 
}